

.advantages_block {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 28px;
}
.section-about-company h2{
	margin-bottom: 30px;
}
.advantages_block_item {
	cursor: pointer;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	padding: 18px 51px;
	gap: 8px;
	margin-bottom: 12px;
	max-width: 302px;
    width: 100%;
	height: 171px;

	/* background: ;#FFFFFF */
	background: #FFFFFF;
	box-shadow: 2px 4px 16px rgba(0, 109, 210, 0.06);
	border-radius: 24px;
}
.advantages_block_item_descr {
	width: 200px;
	height: 48px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #242424;
}
.advantages_block_item_icon{
    width: 200px;
    height: 65px;
}
.advantages_block_item_icon_block {
    position: relative;
	width: 65px;
	height: 65px;
	background: #f4f8fd;
	border-radius: 10px;
    margin: 0 auto;
    
}
.advantages_block_item_icon_block img {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16.5px;
    top: 16px;
}


.advantages_block_item:hover{
	
	background: #F4F8FD;
    cursor: pointer;
    box-shadow: none;
    transition: 0.3s ease-out;
	color:#242424;
}

.drop_text{
	display: none;
}
.block-icon.bg {
  background: #F4F8FD;
}
.section-about-company {
max-width: 1140px;
	width:93%;
	display: flex;
	flex-direction: column;
	align-items:center;
}
.section-about-company .tabs {
	margin:0 auto;
}
.section-about-company .tabs.adaptive{
	display: none;
  }

  .section-about-company .tabs.adaptive_mobile{
	display: none;
  }
  @media all and (max-width: 575px) {
	.section-about-company .tabs.adaptive_mobile {
	  display: block;
	}
	.section-about-company .tabs.adaptive_mobile #tab-btn-1, .section-about-company .tabs.adaptive_mobile #tab-btn-2, .section-about-company .tabs.adaptive_mobile #tab-btn-3, .section-about-company .tabs.adaptive_mobile #tab-btn-4, .section-about-company .tabs.adaptive_mobile #tab-btn-5, .section-about-company .tabs #tab-btn-6, .section-about-company .tabs #tab-btn-7 {
		width: 302px;
		height: 171px;
		margin-bottom: 10px;
	}
	.section-about-company .tabs.adaptive_mobile .block-card{
		padding: 20px;
	}
	.section-about-company .tabs.adaptive_mobile .block-card .block-icon {
		margin-bottom: 20px;
		width: 65px;
		height: 65px;
	}
	.section-about-company .tabs.adaptive_mobile .block-card p {
		font-size: 16px;
	}
	.section-about-company .tabs.adaptive_mobile>.drop_text .content .text .block p {
		font-size: 12px;
	}
  }

  @media all and (max-width: 375px) {
	.section-about-company .tabs.adaptive_mobile #tab-btn-1, .section-about-company .tabs.adaptive_mobile #tab-btn-2, .section-about-company .tabs.adaptive_mobile #tab-btn-3, .section-about-company .tabs.adaptive_mobile #tab-btn-4, .section-about-company .tabs.adaptive_mobile #tab-btn-5, .section-about-company .tabs #tab-btn-6, .section-about-company .tabs #tab-btn-7 {
		width: 100%;
		height: 100%;
	}
  }








  .section-about-company .tabs.two {
	margin: 0 auto;
	margin-top: 24px;
  }
  .section-about-company .tabs.two > div:nth-child(1) {
	margin-right: 0;
  }
  
  .section-about-company .tabs > .drop_text {
	display: none;
	margin: 0;
	z-index: 1;
  }
  .section-about-company .tabs > .drop_text .content {
	position: relative;
	border-top: none;
	border-radius: 0 0 24px 24px;
	box-shadow: 2px 4px 16px rgba(0, 109, 210, 0.06);
	left: 0;
	padding: 0 20px;
	padding-top: 90px;
	top: -70px;
	height: fit-content !important;
	z-index: 1;
	vertical-align: middle;
	margin-bottom: -50px;
  }
  .section-about-company .tabs > .drop_text .content .text {
	margin: 0;
	height: 195px;
	position: relative;
  }
  .section-about-company .tabs > .drop_text .content .text .block {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
  }
  .section-about-company .tabs > .drop_text .content .text .block p {
	font-size: 16px;
	font-weight: 400;
  }
  @media all and (max-width: 1199px) {
	.section-about-company .tabs > .drop_text .content .text .block p {
	  font-size: 14px;
	}
  }
  @media all and (max-width: 767px) {
	.section-about-company .tabs > .drop_text .content .text .block p {
	  font-size: 12px;
	}
	.section-about-company .tabs > .drop_text .content {
		top: -110px;
	  }
  }
  @media all and (max-width: 575px) {
	.section-about-company .tabs > .drop_text .content .text .block p {
	  font-size: 10px;
	}
  }
  .section-about-company .tabs > .drop_text .content p {
	margin-bottom: 20px;
	line-height: 150%;
	font-size: 16px;
	font-weight: 400;
  }
  .section-about-company .tabs > .drop_text .content p:last-child {
	margin-bottom: 0;
  }
  .section-about-company .tabs > div {
	display: inline-block;
	margin: 0 12px;
	z-index: 20;
	line-height: 1.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
	cursor: pointer;
	position: relative;
  }
  .section-about-company .tabs > div:first-child {
	margin-left: 0;
  }
  .section-about-company .tabs > div:nth-child(2) {
	margin-right: 0;
  }
  @media all and (max-width: 991px) {
	.section-about-company .tabs > div {
	  margin: 0 5px;
	}
  }
  @media all and (max-width: 767px) {
	.section-about-company .tabs #tab-btn-1, .section-about-company .tabs #tab-btn-2, .section-about-company .tabs #tab-btn-3, .section-about-company .tabs #tab-btn-4, .section-about-company .tabs #tab-btn-5, .section-about-company .tabs #tab-btn-6, .section-about-company .tabs #tab-btn-7 {
	  width: calc(50% - 10px);
	  margin-bottom: 10px;
	}
	.section-about-company .tabs #tab-btn-6{
		opacity: 0;
	}
	.section-about-company .tabs #content-6{
		opacity: 0;
		margin: 0;
		height: 0;
	}
  }
  @media all and (max-width: 575px) {
	.section-about-company .tabs .apdative{
		display: none;
	}
  }
  .section-about-company .tabs #tab-btn-1:hover ~ #content-1,
  .section-about-company .tabs #tab-btn-2:hover ~ #content-2,
  .section-about-company .tabs #tab-btn-3:hover ~ #content-3,
  .section-about-company .tabs #tab-btn-4:hover ~ #content-4,
  .section-about-company .tabs #tab-btn-5:hover ~ #content-5,
  .section-about-company .tabs #tab-btn-6:hover ~ #content-6,
  .section-about-company .tabs #tab-btn-7:hover ~ #content-7 {
	display: block;
  }
  .section-about-company .tabs .block-card {
	box-shadow: 2px 4px 16px rgba(0, 109, 210, 0.06);
	border-radius: 24px;
	padding: 20px;
	width: 302px;
	position: relative;
	z-index: 20;
	background: #FFFFFF;
  }
  @media all and (max-width: 1199px) {
	.section-about-company .tabs .block-card {
	  width: 218px;
	  padding: 15px;
	}
  }
  @media all and (max-width: 991px) {
	.section-about-company .tabs .block-card {
	  width: 168px;
	}
  }
  @media all and (max-width: 767px) {
	.section-about-company .tabs .block-card {
	  width: 100%;
	  padding: 20px 55px;
	}
  }
  @media all and (max-width: 575px) {
	.section-about-company .tabs .block-card {
	  padding: 10px 12px;
	  height: 100%;
	}
  }
  .section-about-company .tabs .block-card p {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height: 24px;
	width: 195px;
	display: block;
	margin: 0 auto;
  }
  @media all and (max-width: 1199px) {
	.section-about-company .tabs .block-card p {
	  width: fit-content;
	}
  }
  @media all and (max-width: 991px) {
	.section-about-company .tabs .block-card p {
	  font-size: 12px;
	}
  }
  @media all and (max-width: 575px) {
	.section-about-company .tabs .block-card p {
	  font-size: 10px;
	}
  }
  .section-about-company .tabs .block-card .block-icon {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 65px;
	height: 65px;
  }
  .section-about-company .tabs .block-card .block-icon .icon {
	font-size: 32px;
  }
  @media all and (max-width: 991px) {
	.section-about-company .tabs .block-card .block-icon .icon {
	  font-size: 24px;
	}
  }
  @media all and (max-width: 991px) {
	.section-about-company .tabs .block-card .block-icon {
	  width: 45px;
	  height: 45px;
	}
  }
  .section-about-company .tabs .block-card:hover {
	background: #F4F8FD;
	cursor: pointer;
	box-shadow: none;
	transition: 0.3s ease-out;
  }
  .section-about-company .tabs .block-card:hover p {
	font-weight: 600;
  }
  @media all and (max-width: 575px) {
	.section-about-company .tabs .block-card:hover p {
	  font-weight: 500;
	}
  }
  .section-about-company .tabs .block-card:hover .bg {
	background: #FFFFFF;
  }
  @media all and (max-width: 767px) {
	.section-about-company .tabs {
	  display: none;
	}
	.section-about-company .tabs.adaptive {
		display: block;
	}
  }
  @media all and (max-width: 991px) {
	.section-about-company {
	  margin: 50px 0;
	}
  }


@media (max-width: 1439px) {
    
}
@media (max-width: 1200px) {
    
}
@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
   
}
@media (max-width: 575px) {
	.section-about-company .tabs.adaptive {
		display: none;
	}
}
@media (max-width: 375px) {
	.section-about-company .tabs > .drop_text .content {
		top: -75px;
	  }
}




@media (min-width: 200px) and (max-width: 1440px) {
	.advantages {
		width: calc(100% + (80- 100) * ((100vw - 400px) / (1440 - 400)));
	}
	
	.advantages_title {
		font-size: calc(16px + (36 - 16) * ((100vw - 200px) / (1440 - 200)));
	}
}
