.call_back{
    position: fixed;
    width: 100%;
    top:33.5%;
    z-index: 100;
}
.call_back .container{
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: flex-end;
    max-width: 1292px;
    width: 90%;
    
}
.elipse {
	display: block;
    z-index: 10;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: all 0ms;
    -webkit-box-shadow: 0px 0px 3px 6px rgba(34, 60, 80, 0.12);
    -moz-box-shadow: 0px 0px 3px 6px rgba(34, 60, 80, 0.12);
    box-shadow: 0px 0px 3px 6px rgba(34, 60, 80, 0.12);
}
.call-bell img {
	width: 24px;
	height: 24px;

}
.elipse_online {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #242424;
}
.free_call_back {

	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(180deg, #006dd2 -11.29%, #59c2fd 105.4%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.elipse:after,.elipse:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,-1);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: block;
    visibility: hidden;
    content: "";
    background-color: #2e6bcb;
    opacity: 0;
    cursor: default
}
.animation-active {
    transform: translate(0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation-delay: 3s
}

.animation-active:after,.animation-active:before {
    backface-visibility: hidden;
    perspective: 1000px;
}

.animation-active:before {
    animation: pulsateInner 3s cubic-bezier(.36,.07,.19,.97) infinite;
    animation-delay: 3s;
}

.animation-active:after {
    animation: pulsateOuter 3s cubic-bezier(.36,.07,.19,.97) infinite;
    animation-delay: 3s
}

.animation-active.pause-animation {
    animation: none
}

.animation-active.pause-animation:after,.animation-active.pause-animation:before {
    animation: none
}

@keyframes pulsateInner {
    0% {
        visibility: visible;
        transform: translate3d(-50%,-50%,0) scale(.1);
        opacity: 0
    }

    20% {
        opacity: .4
    }

    40%,to {
        visibility: hidden;
        transform: translate3d(-50%,-50%,0) scale(1.1);
        opacity: 0
    }
}

@keyframes pulsateOuter {
    0% {
        visibility: visible;
        transform: translate3d(-50%,-50%,0) scale(.1);
        opacity: 0
    }

    20% {
        opacity: .3
    }

    40%,to {
        visibility: hidden;
        transform: translate3d(-50%,-50%,0) scale(1.1);
        opacity: 0
    }
}

@media (max-width: 576px) {
	.elipse {
		display: none;
	}
}
