.section-form {
    max-width: 1168px;
	width: 100%;
	display: block;
}
.section-form.disabled {
	display: none;
}
.section-form .container-form {
	display: flex;
	background: #f4f8fd;
	border-radius: 24px;
	width: 100%;
	align-items: center;
	position: relative;
}
.section-form .container-form:before,
.section-form .container-form:after {
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	background-repeat: no-repeat;
	background-size: 120px;
	background-image: url("../assets/images/airplane-1.svg");
}
.form-title{
    text-align: center;
    max-width: 605px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
}

@media all and (max-width: 991px) {
	.section-form .container-form:before,
	.section-form .container-form:after {
		background-size: 60px;
		width: 60px;
		height: 60px;
	}
    .section_title {
        margin-bottom: 15px;
    }
}
@media all and (max-width: 767px) {
	.section-form .container-form:before,
	.section-form .container-form:after {
		display: none;
	}
}
.section-form .container-form:before {
	top: calc(0% - 60px);
	left: 45px;
}
@media all and (max-width: 991px) {
	.section-form .container-form:before {
		top: calc(0% - 30px);
	}
}
.section-form .container-form:after {
	bottom: calc(0% - 60px);
	left: calc(50% - 180px);
	transform: rotate(180deg);
}
@media all and (max-width: 991px) {
	.section-form .container-form:after {
		bottom: calc(0% - 30px);
	}
}
.section-form .container-form .form {
	width: 50%;
	padding: 20px;
}
.section-form .container-form .form form p {
	text-align: left;
	font-weight: 600;
	line-height: 24px;
	font-size: 16px;
}
@media all and (max-width: 991px) {
	.section-form .container-form .form form p {
		font-size: 14px;
	}
}
@media all and (max-width: 575px) {
	.section-form .container-form .form form p {
		font-size: 12px;
	}
    .section_title {
        margin-bottom: 5px;
    }
}
.section-form .container-form .form form .flex {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin: 20px 0;
}
.section-form .container-form .form form .flex .block-input {
	background: #ffffff;
	border-radius: 12px;
	padding: 15px 20px;
	width: calc(50% - 5px);
}
@media all and (max-width: 991px) {
	.section-form .container-form .form form .flex .block-input {
		padding: 15px 10px;
	}
}
@media all and (max-width: 575px) {
	.section-form .container-form .form form .flex .block-input {
		padding: 10px;
	}
}
.section-form .container-form .form form .flex .block-input input:-webkit-autofill,
.section-form .container-form .form form .flex .block-input input:-webkit-autofill:hover,
.section-form .container-form .form form .flex .block-input input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
.section-form .container-form .form form .flex .block-input p {
	line-height: 24px;
	color: rgba(36, 36, 36, 0.72);
	font-size: 14px;
	font-weight: 400;
}
@media all and (max-width: 991px) {
	.section-form .container-form .form form .flex .block-input p {
		font-size: 12px;
	}
}
.section-form .container-form .form form .flex .block-input.error {
	background: #fdf4f4;
}
.section-form .container-form .form form .flex .block-input.error input {
	background: #fdf4f4;
}
.section-form .container-form .form form .flex .block-input.error h4 {
	color: rgba(210, 0, 0, 0.72);
}
@media all and (max-width: 575px) {
	.section-form .container-form .form form .flex .block-input {
		width: 100%;
	}
}
.section-form .container-form .form form .checkbox label a {
	color: #006dd2;
	border-bottom: 1px solid #006dd2;
}
.section-form .container-form .form form .checkbox label a:hover {
	text-decoration: none;
}
.section-form .container-form .form form .form_btn {
	margin-top: 20px;
	width: 100%;
}
.section-form .container-form .form form .form_btn button {
	width: 100%;
	justify-content: center;
}
@media all and (max-width: 991px) {
	.section-form .container-form .form {
		padding: 15px;
	}
}
@media all and (max-width: 767px) {
	.section-form .container-form .form {
		width: 100%;
	}
}
.section-form .container-form .form_photo {
	width: 50%;
	height: 100%;
}
.section-form .container-form .form_photo .photo {
	line-height: 0;
}
.section-form .container-form .form_photo .photo img {
	width: 100%;
	height: 505px;
	object-fit: cover;
	border-radius: 0 24px 24px 0;
}
@media all and (max-width: 991px) {
	.section-form .container-form .form_photo .photo img {
		height: 420px;
	}
}
@media all and (max-width: 767px) {
	.section-form .container-form .form_photo {
		display: none;
	}
}

input,
textarea {
	background: #ffffff;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	color: #242424;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	border: 0;
}
@media all and (max-width: 1199px) {
	input,
	textarea {
		font-size: 14px;
	}
}
@media all and (max-width: 991px) {
	input,
	textarea {
		font-size: 12px;
	}
}
@media all and (max-width: 767px) {
	input,
	textarea {
		font-size: 12px;
	}
}

::placeholder {
	color: rgba(36, 36, 36, 0.32);
	opacity: 1;
}
@media all and (max-width: 1199px) {
	::placeholder {
		font-size: 14px;
	}
}
@media all and (max-width: 991px) {
	::placeholder {
		font-size: 12px;
	}
}
@media all and (max-width: 767px) {
	::placeholder {
		font-size: 12px;
	}
}

.errorClass {
	background: #fdf4f4 !important;
}
.errorClass h4 {
	-webkit-box-shadow: 0 0 0px 1000px #fdf4f4 inset !important;
}
.errorClass input {
	background: #fdf4f4 !important;
	-webkit-box-shadow: 0 0 0px 1000px #fdf4f4 inset !important;
}
.errorClass.block-input {
	background: #fdf4f4 !important;
}
.errorClass.block-input h4 {
	color: rgba(210, 0, 0, 0.72) !important;
}

.checkbox.error,
.checkbox__item.error {
	color: #d20000;
}
.checkbox.error .custom-checkbox + label,
.checkbox__item.error .custom-checkbox + label {
	display: inline-flex;
}
.checkbox.error .custom-checkbox + label.bg:before,
.checkbox__item.error .custom-checkbox + label.bg:before {
	background: #fdf4f4;
}
.checkbox.error .custom-checkbox + label:before,
.checkbox__item.error .custom-checkbox + label:before {
	border: 1px solid #d20000;
	background: #fdf4f4;
	background-repeat: no-repeat;
	background-size: 50% 50%;
}
.checkbox.error .text,
.checkbox__item.error .text {
	color: #d20000;
}
.checkbox .custom-checkbox,
.checkbox__item .custom-checkbox {
	display: none;
	opacity: 0;
}
.checkbox .custom-checkbox + label,
.checkbox__item .custom-checkbox + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	line-height: 125%;
}
.checkbox .custom-checkbox + label:hover,
.checkbox__item .custom-checkbox + label:hover {
	cursor: pointer;
}
.checkbox .custom-checkbox + label:before,
.checkbox__item .custom-checkbox + label:before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	flex-grow: 0;
	background: #ffffff;
	border: 1px solid #006dd2;
	border-radius: 4px;
	margin-right: 12px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.checkbox .custom-checkbox + label.bg:before,
.checkbox__item .custom-checkbox + label.bg:before {
	background: #f4f8fd;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.checkbox .custom-checkbox + label a,
.checkbox__item .custom-checkbox + label a {
	color: #006dd2;
	border-bottom: 1px solid #006dd2;
}
.checkbox .custom-checkbox:checked + label::before,
.checkbox__item .custom-checkbox:checked + label::before {
	content: "";
	color: red;
	transition: 0.3s ease;
	background-image: url("../assets/images/checkmark.svg");
	background-size: 14px;
}


@media (max-width: 375px) {
    .form-title{
        display: none;
    }
    .text{
        font-size: 12px;
    }

}
