.how_it_works{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 1110.28px;
}
.how_it_works_title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 9px;
    text-align: center;
    color: #242424;
}
.how_it_works_way{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
}
.how_it_works_way_item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px 24px;
    gap: 22px;

    width: 248px;
    height: 209px;

    background: rgba(255, 255, 255, 0.76);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 24px;
}

.how_it_works_way_item_descr {
	width: 200px;
	height: 48px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #242424;
}
.how_it_works_way_item_icon{
    width: 200px;
    height: 65px;
}
.how_it_works_way_item_icon_block {
    position: relative;
	width: 65px;
	height: 65px;
	background: #f4f8fd;
	border-radius: 10px;
    margin: 0 auto;
    
}
.how_it_works_way_item_icon_block img {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16.5px;
    top: 16px;
}
.how_it_works_way_item_step{
    width: 200px;
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #000000;

    opacity: 0.3;
}
.how_it_works_leave_request{
    display: block;
    margin: 0 auto;
}

.blur_line{
    position: absolute;
    width: 78%;
    height: 6.5px;
    left: 119.33px;
    top: 85.25px;
    z-index: -1;
    background: linear-gradient(180deg, #006DD2 -11.29%, #59C2FD 105.4%);
}


.how_it_works_way_item:after {
    content: '';
    position: absolute;
    border: 12px solid transparent; 
    border-left: 12px solid #3aa4ee;
    left: 258px;
    top: 42%;
    transform: translateY(-50%);
}
.how_it_works_way_item:nth-child(4):after {
    content: '';
    border: 0; 
    border-left: 0;
    left: 0;
    top: 0;
    
}
@media (max-width: 1439px) {
    .how_it_works_title{
        font-size: 32px;
    }
}
@media (max-width: 1200px) {
    .how_it_works_title{
        font-size: 30px;
    }
    .how_it_works{
        width: 940.28px;
    }
    .how_it_works_way_item {
        width: 203px;
        height: 197px;
    }
    .how_it_works_way_item_step {
        width: 159px;
    }
    .how_it_works_way_item_icon{
        width: 159px;
    }
    .how_it_works_way_item_descr {
        width: 159px;
        font-size: 14px;
        line-height: 15px;
    }
    .how_it_works_way_item:after {
        left: 212px;
        top: 44%;
    }
}


@media (max-width: 992px) {
    .how_it_works_title{
        font-size: 24px;
    }
    .how_it_works {
        width: 696.28px;
    }
    .how_it_works_way_item {
        width: 150px;
        height: 148px;
    }
    .how_it_works_way_item_step {
        width: 148px;
    }
    .how_it_works_way_item_icon{
        width: 148px;
    }
    .how_it_works_way_item_descr {
        width: 148px;
        font-size: 12px;
        line-height: 11px;
    }   
    
    .how_it_works_way_item:after {
        left: 160px;
        top: 59%;
        border: 9px solid transparent; 
        border-left: 9px solid #3aa4ee;
    }
    .blur_line{
        height: 4.5px;
    }
}
@media (max-width: 768px) {
    .how_it_works {
        width: 427px;
        gap: 10px;
    }
    .how_it_works_way{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 28px;
    }
    .how_it_works_way_item {
        width: 300px;
        height: 225px;
        align-items: center;
    }
    .how_it_works_way_item_step {
        width: 225px;
    }
    .how_it_works_way_item_icon{
        width: 225px;
    }
    .how_it_works_way_item_descr {
        width: 225px;
        font-size: 16px;
        line-height: 25px;
    } 
    .blur_line{
        width: 6.5px;
        height: 78%;
        left: 148.33px;
        top: 85.25px;
        z-index: -1;
        background: linear-gradient(180deg, #006DD2 -11.29%, #59C2FD 105.4%);
    }
    .how_it_works_way_item:after {
        left: 142px;
        top: 243px;
        border: 9px solid transparent; 
        border-top: 9px solid #3aa4ee;
    }

}



