.modal {
	opacity: 0;
	visibility: hidden;
	width: 90%;
	max-width: 710px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 300;
	padding: 35px 45px 45px 45px;
	border-radius: 24px;
	background: #ffffff;
	background-size: cover;
	max-height: 90%;
	overflow-y: auto;
}
@media all and (max-width: 575px) {
	.modal {
		padding: 20px;
	}
}
.modal::-webkit-scrollbar {
	width: 7px;
}
.modal::-webkit-scrollbar-thumb {
	border-radius: 7px;
	background-color: rgba(0, 109, 210, 0.32);
}
.modal::-webkit-scrollbar-track {
	background-color: #f4f8fd;
	margin: 20px;
}
.modal .modal__cross {
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
	z-index: 100;
}
.modal .modal__cross .icon {
	color: #006dd2;
    display: flex;
}
.modal.modal__active .modal-form .form_title .title {
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 15px;
}
.modal.modal__active .modal-form .form_title .title span {
	color: #fdbb59;
}
.modal.modal__active .modal-form .form_title p {
	font-weight: 400;
	font-size: 16px;
}
@media all and (max-width: 991px) {
	.modal.modal__active .modal-form .form_title p {
		font-size: 14px;
	}
}
@media all and (max-width: 575px) {
	.modal.modal__active .modal-form .form_title p {
		font-size: 12px;
	}
}
.modal.modal__active .modal-form .form_booking .flex .booking_form .field p {
	font-size: 14px;
	font-weight: 400;
}
@media all and (max-width: 991px) {
	.modal.modal__active .modal-form .form_booking .flex .booking_form .field p {
		font-size: 12px;
	}
}
@media all and (max-width: 767px) {
	.modal.modal__active .modal-form .form_booking .flex .booking_form .field {
		width: 100%;
	}
}
@media all and (max-width: 767px) {
	.modal.modal__active .modal-form .form_booking .flex .booking_form {
		display: block;
		width: 50%;
	}
}
@media all and (max-width: 575px) {
	.modal.modal__active .modal-form .form_booking .flex .booking_form {
		width: 100%;
	}
}
@media all and (max-width: 767px) {
	.modal.modal__active .modal-form .form_booking .flex .booking_photo {
		display: block;
	}
}
@media all and (max-width: 575px) {
	.modal.modal__active .modal-form .form_booking .flex .booking_photo {
		display: none;
	}
}
.modal.modal__active .decor {
	text-align: center;
	margin: 15px 0 20px 0;
	position: relative;
}
.modal.modal__active .decor:after,
.modal.modal__active .decor:before {
	position: absolute;
	content: "";
	top: 50%;
	right: 0;
	width: calc(50% - 20px);
	height: 2px;
	border: none;
	background: linear-gradient(to right, transparent 50%, white 50%),
		linear-gradient(to right, rgba(0, 109, 210, 0.2), rgba(0, 109, 210, 0.2));
	background-size: 30px 2px, 100% 2px;
}
.modal.modal__active .decor:before {
	left: 0;
}
.modal.modal__active .decor p {
	font-weight: 600;
	line-height: 24px;
	font-size: 16px;
}
@media all and (max-width: 991px) {
	.modal.modal__active .decor p {
		font-size: 14px;
	}
}
@media all and (max-width: 575px) {
	.modal.modal__active .decor p {
		font-size: 12px;
	}
}
.modal.active {
	opacity: 1;
	visibility: visible;
}
.modal .modal-form .error input {
	-webkit-box-shadow: 0 0 0 1000px #fdf4f4 inset;
}

.modal .modal-form .form_title {
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
}
.modal .modal-form .form_title p {
	font-weight: 600;
	line-height: 24px;
	font-size: 16px;
}
@media all and (max-width: 991px) {
	.modal .modal-form .form_title p {
		font-size: 14px;
	}
}
@media all and (max-width: 575px) {
	.modal .modal-form .form_title p {
		font-size: 12px;
	}
}
.modal .modal-form .form_title h4 {
	font-weight: 500;
	line-height: 24px;
	margin-top: 10px;
}
.modal .form_booking .flex {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 0 20px;
}
.modal .form_booking .flex .booking_form {
	width: 50%;
}
.modal .form_booking .flex .booking_form .field {
	background: #f4f8fd;
	border-radius: 12px;
	padding: 17px 20px;
	margin-bottom: 10px;
}
.modal .form_booking .flex .booking_form .field:last-child {
	margin-bottom: 0;
}
.modal .form_booking .flex .booking_form .field.error {
	background: #fdf4f4;
}
.modal .form_booking .flex .booking_form .field.error input {
	background: #fdf4f4;
}
.modal .form_booking .flex .booking_form .field.error h4 {
	color: rgba(210, 0, 0, 0.72);
}
.modal .form_booking .flex .booking_form .field p {
	line-height: 24px;
	color: rgba(36, 36, 36, 0.72);
	font-size: 14px;
	font-weight: 400;
}
@media all and (max-width: 991px) {
	.modal .form_booking .flex .booking_form .field p {
		font-size: 12px;
	}
}
.modal .form_booking .flex .booking_form .field input {
	background: #f4f8fd;
}
@media all and (max-width: 767px) {
	.modal .form_booking .flex .booking_form .field input {
		width: 100%;
	}
}
@media all and (max-width: 767px) {
	.modal .form_booking .flex .booking_form .field {
		width: calc(50% - 10px);
	}
}
@media all and (max-width: 575px) {
	.modal .form_booking .flex .booking_form .field {
		width: 100%;
	}
}
@media all and (max-width: 767px) {
	.modal .form_booking .flex .booking_form {
		width: 100%;
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
@media all and (max-width: 575px) {
	.modal .form_booking .flex .booking_form {
		gap: 10px;
	}
}
.modal .form_booking .flex .booking_photo {
	width: 50%;
}
.modal .form_booking .flex .booking_photo .photo {
	height: 100%;
}
.modal .form_booking .flex .booking_photo .photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 24px;
}
@media all and (max-width: 767px) {
	.modal .form_booking .flex .booking_photo {
		display: none;
	}
}
.modal .form_booking .checkbox {
	margin: 20px 0;
}
.modal .form_booking .btn {
	width: 100%;
	justify-content: center;
}
.modal .form .form_icon .block-icon {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 64px;
	height: 64px;
	background: #f4f8fd;
    border-radius: 10px;
}
.modal .form .form_icon .block-icon .icon {
	font-size: 32px;

}
.modal .form .form_mes {
	text-align: center;
}
.modal .form .form_mes h3 {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
@media all and (max-width: 991px) {
	.modal .form .form_mes h3 {
		font-size: 14px;
	}
}
@media all and (max-width: 575px) {
	.modal .form .form_mes h3 {
		font-size: 12px;
	}
}
.modal .form .form_mes .mes__title {
	font-weight: 600;
	margin: 20px 0 15px 0;
}
.modal .reviews {
	max-width: 100%;
	position: relative;
	display: flex;
	gap: 0 25px;
	align-items: center;
}
@media all and (max-width: 575px) {
	.modal .reviews {
		display: block;
	}
}
.modal .reviews .reviews_title {
	width: 35%;
	border-right: 1px solid rgba(0, 109, 210, 0.2);
	padding-right: 25px;
}
@media all and (max-width: 575px) {
	.modal .reviews .reviews_title {
		width: 100%;
		border-right: 0;
	}
}
.modal .reviews .reviews_title .block_photo {
	display: flex;
	align-items: center;
	gap: 0 10px;
}
.modal .reviews .reviews_title .block_photo .title__photo {
	border-radius: 8px;
}
.modal .reviews .reviews_title .block_photo .title__photo .photo img {
	width: 45px;
	height: 45px;
}
.modal .reviews .reviews_title .block_photo .title__photo .text {
	background: #f4f8fd;
	padding: 10px;
	border-radius: 8px;
	position: relative;
	width: 45px;
	height: 45px;
}
.modal .reviews .reviews_title .block_photo .title__photo .text h2 {
	color: #006dd2;
	font-weight: 600;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.modal .reviews .reviews_title .block_photo .title__name h3 {
	font-weight: 600;
	line-height: 24px;
}
.modal .reviews .reviews_title .block_photo .title__name .container-star {
	display: flex;
	gap: 0 5px;
}
.modal .reviews .reviews_title .block_text {
	margin-top: 15px;
}
.modal .reviews .reviews_title .block_text h5 {
	line-height: 150%;
}
.modal .reviews .reviews_title .block_text h5 span {
	color: rgba(36, 36, 36, 0.72);
}
.modal .reviews .reviews_title .block_text .bold {
	font-weight: 600;
	line-height: 24px;
}
.modal .reviews .reviews_main {
	width: 65%;
}
.modal .reviews .reviews_main h5 {
	line-height: 150%;
}
.modal .reviews .reviews_main .main_reviews {
	margin-top: 10px;
}
@media all and (max-width: 575px) {
	.modal .reviews .reviews_main {
		width: 100%;
	}
}

.overlay {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(68, 68, 68, 0.7);
	z-index: 200;
}
.overlay.active {
	opacity: 1;
	visibility: visible;
}

.modal .modal__cross .icon span {
	height: 1px;
    width: 20px;
    background:#006DD2;
}
.icon-close-left{
    position: absolute;
    transform: rotate(45deg);
}
.icon-close-right{
    position: absolute;
    transform: rotate(-45deg);
}

