.promo {
	position: absolute;
	max-width: 1346.15px;
	width: 96%;
	min-height: 680px;
	top: 19px;
	right: 0;
	left: 0;
	margin: auto;
	background: linear-gradient(0deg, rgba(0, 23, 105, 0.36), rgba(0, 23, 105, 0.36)),
		url(../assets/images/istockphoto-1177037281-1024x1024-transformed.jpg);
	border-radius: 30px;
	/* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.menu {
	position: absolute;
	max-width: 1140px;
	width: 84%;
	height: 60px;
	right: 0;
	left: 0;
	margin: auto;
	top: 28px;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
}
.menu_logo {
	width: 197px;
	height: 60px;
}
.menu_list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	margin: 0;
	gap: 3%;
	max-width: 660px;
	width: 71%;
	height: 50px;
	list-style-type: none;
}

.menu_list .menu_list_item_link {
	font-size: 15px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
	font-style: normal;
	line-height: 18px;
}

.menu_list .menu_list_item button {
	padding: 15px 52px;
	cursor: pointer;
	height: 50px;
	background: #ffffff;
	border-radius: 10px;
	color: #2e6bcb;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	border: 0;
	width: 100%;
}

.promo_banner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 18px;
	left: 8%;
	position: absolute;
	max-width: 557px;
	width: 51%;
	top: 121.26px;
}
.promo_banner .title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 45px;
	margin: 0;
	/* or 125% */
	color: #ffffff;
}
.promo_banner .title span {
	color: #fff5d3;
}
.sale_description {
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #ffffff;
}
.sale_description span {
	font-weight: 400;
}
.description {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

.partners {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 3.6%;
	margin-top: 16px;
}
.partners_top_rated {
	position: relative;
	max-width: 183px;
	width: 100%;
}
.partners_top_rated img {
	height: 24px;
}
.partners_image_1 {
	width: 138.59px;
	height: 69.65px;
}
.partners_image_2 {
	width: 72.61px;
	height: 46.54px;
}
.partners_image_3 {
	width: 97.73px;
	height: 24px;
}

.top_rated_text {
	position: absolute;
	left: 105px;
	top: 5px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height, or 125% */
	width: 100%;
	letter-spacing: -0.02em;
	text-transform: uppercase;

	color: #ffffff;
}

.elipse {
	position: absolute;
	width: 100px;
	height: 100px;
	right: 3.2%;
    top: 48.5%;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.12);
}
.call-bell {
	position: relative;
}
.call-bell img {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 38px;
	top: 9.5px;
}
.elipse_online {
	position: absolute;
	width: 85px;
	height: 24px;
	left: 7.5px;
	top: 33.5px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #242424;
}
.free_call_back {
	position: absolute;
	width: 74.63px;
	height: 33px;
	left: 12.69px;
	top: 57.5px;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(180deg, #006dd2 -11.29%, #59c2fd 105.4%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.flyer_club {
	position: absolute;
	max-width: 408px;
	width: 100%;
	height: 96.52px;
	right: 9%;
	top: 58%;
}

.flyer_club_label {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 20px 4px 14px;
	gap: 4.12px;
	transform: translateY(-50%);
	position: absolute;
	max-width: 95.23px;
	width:100%;
	height: 23px;
	left: 23.32px;
	top: 0px;

	background: #2e6bcb;
	border-radius: 8.23431px;
}
.flyer_club_label_img {
	height: 14.12px;
}
.flyer_club_label_name {
	width: 43px;
	height: 15px;
	font-style: normal;
	font-weight: 700;
	font-size: 13.79px;
	line-height: 15px;
	color: #ffffff;
}

.flyer_club_content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 12px 12px 18px;
	gap: 24px;
	width: 100%;
	height: 85px;
	background: #ffffff;
	border-radius: 24px;
}
.price {
	max-width: 156px;
	width: 100%;
	font-size: 14px;
}

.price_total {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 6px;
	width: 100%;
	height: 29px;
	font-style: normal;
	font-weight: 700;

	line-height: 24px;
	color: #242424;
}
.price_total span {
	font-size: 24px;
	line-height: 29px;
	color: #2e6bcb;
}

.price_retail {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 6px;
	height: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	color: #949494;
}
.price_retail span {
	font-size: 16px;
	line-height: 29px;
	text-decoration-line: line-through;
	color: #949494;
}

.discount {
	width: 198px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 12px;
	gap: 4px;

	height: 61px;

	background: #2e6bcb;
	border-radius: 17px;
}

.discount_icon {
	width: 37px;
	height: 37px;
}

.discount_description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	max-width: 133px;
	width: 100%;
	height: 37px;
}
.discount_price {
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	color: #f3f3f3;
	opacity: 0.6;
}
.discount_savings {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #f3f3f3;
}

.hamburger{
	display: none;
	width: 40px;
	height: 40px;
}
.hamburger img{
	width: 30x;
	height: 30px;
}

@media (max-width: 1200px) {
	.menu {
		width: 92%;
	}
	.menu_logo img{
		width: 167px;
		height: 50px;
	}
	.menu_list .menu_list_item button{
		padding: 15px 36px;
	}
	.promo_banner {
		left: 4%;
	}
	.promo_banner .title {
		font-size: 31px;
		line-height: 39px;
	}
	.flyer_club {
		right: 6%;
	}
	.elipse {
		top: 44.5%;
		right: 2.2%;
	}
}

@media (max-width: 992px) {
	.menu {
		width: 96%;
	}
	.menu_logo img{
		width: 140px;
	}
	.menu_list .menu_list_item button{
		padding: 10px 10px;
		font-size: 14px;
	}
	.menu_list .menu_list_item_link {
		font-size: 14px;
	}

	.promo_banner {
		left: 2%;
		width: 56%;
	}

	.promo_banner .title {
		font-size: 28px;
		line-height: 35px;
	}
	.description{
		font-size: 14px;
	}
	.flyer_club {
		right: 2%;
		top: 61%;
	}
	.elipse {
		right: 2%;
	}
}
@media (max-width: 768px) {
	.promo_banner {
		width: 68%;
		gap: 9px;
	}
	.promo_banner .title {
		font-size: 24px;
		line-height: 31px;
	}
	.sale_description {
		font-size: 18px;
	}
	.description {
		font-size: 14px;
		line-height: 19px;
	}
	
	.partners_image_1 {
		width: 114.59px;
    	height: 51.65px;
	}
	.partners_image_2 {
		width: 55.61px;
    height: 39.54px;
	}
	.flyer_club {
		top: 58%;
	}
	.elipse {
		top: 41%;
	}
	.menu_list .menu_list_item_link {
		font-size: 12px;
	}
	.menu_list .menu_list_item button {
		padding: 5px 5px;
		font-size: 12px;
		height: 40px;
	}

	
}
@media (max-width: 576px) {
	.elipse {
		display: none;
	}
	.menu ul{
		display: none;
	}
	.promo_banner {
		width: 90%;
		gap: 9px;
	}

	.menu_logo img{
		width: 197px;
		height: 60px;
	}
	.hamburger{
		display: block;
	}
}

