.promo {
	position: relative;
	max-width: 1346.15px;
	width: 96%;
	min-height: 680px;

	margin: 0 auto;
	background: linear-gradient(0deg, rgba(0, 23, 105, 0.36), rgba(0, 23, 105, 0.36)),
		url(../assets/images/istockphoto-1177037281-1024x1024-transformed.jpg);
	border-radius: 30px;
	margin-top: 19px;
	/* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.menu_block {
	position: relative;
	display: block;
	top: 28px;
}
.menu {
	max-width: 1140px;
	width: 84%;
	height: 60px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.menu_logo {
	width: 197px;
	height: 60px;
}
.menu_list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	margin: 0;
	gap: 3%;
	max-width: 660px;
	width: 71%;
	height: 50px;
	list-style-type: none;
}

.menu_list .menu_list_item_link {
	font-size: 15px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
	font-style: normal;
	line-height: 18px;
}

.menu_list .menu_list_item button {
	padding: 15px 52px;
	cursor: pointer;
	height: 50px;
	background: #ffffff;
	border-radius: 10px;
	color: #2e6bcb;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	border: 0;
	width: 100%;
}
.menu_close{
	display: none;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
}
.promo_body {
	position: relative;
	display: block;
	max-width: 1140px;
	width: 84%;
	margin: 0 auto;
	top: 55px;
}
.promo_banner {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 18px;
	left: 8%;
	max-width: 557px;
	width: 51%;
}
.promo_banner .title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	margin: 0;
	/* or 125% */
	color: #ffffff;
}
.promo_banner .title span {
	color: #fff5d3;
}
.sale_description {
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #ffffff;
}
.sale_description span {
	font-weight: 400;
}
.description {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

.partners {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	margin-top: 16px;
	width: 100%;
	gap: 3.6%;
}
.partners_top_rated {
	position: relative;
	max-width: 200px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	gap: 5%;
}
.partners_top_rated img {
	height: 24px;
}
.partners_image_1 {
	min-width: 65px;
	max-width: 138.59px;
	max-height: 69.65px;
	width: 100%;
}
.partners_image_2 {
	min-width: 35px;
	max-width: 72.61px;
	max-height: 46.54px;
	width: 100%;
}
.partners_image_3 {
	min-width: 45px;
	max-width: 97.73px;
	max-height: 24px;
	width: 100%;
}

.top_rated_text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	width: 100%;
	letter-spacing: -0.02em;
	text-transform: uppercase;

	color: #ffffff;
}

.elipse {
	position: absolute;
	width: 100px;
	height: 100px;
	right: -67px;
	bottom: 69px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.12);
}
.call-bell {
	position: relative;
}
.call-bell img {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 38px;
	top: 9.5px;
}
.elipse_online {
	position: absolute;
	width: 85px;
	height: 24px;
	left: 7.5px;
	top: 33.5px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #242424;
}
.free_call_back {
	position: absolute;
	width: 74.63px;
	height: 33px;
	left: 12.69px;
	top: 57.5px;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	background: linear-gradient(180deg, #006dd2 -11.29%, #59c2fd 105.4%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.flyer_club_block {
	display: flex;
	justify-content: flex-end;
	width: auto;
	align-items: flex-end;
	position: relative;
	right: 100px;
	transform: translateY(-50px);
}
.flyer_club {
	position: relative;
	max-width: 408px;
	height: 96.52px;
	bottom: 0%;
	transform: translateY(60%);
}

.flyer_club_label {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 20px 4px 14px;
	gap: 4.12px;
	transform: translateY(-50%);
	position: absolute;
	max-width: 95.23px;
	width: 100%;
	height: 23px;
	left: 6.5%;
	top: 0px;

	background: #2e6bcb;
	border-radius: 8.23431px;
}
.flyer_club_label_img {
	height: 14.12px;
}
.flyer_club_label_name {
	max-width: 43px;
	width: 100%;
	height: 15px;
	font-style: normal;
	font-weight: 700;
	font-size: 13.79px;
	color: #ffffff;
}

.flyer_club_content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 12px 12px 18px;
	gap: 24px;
	width: 100%;
	height: 85px;
	background: #ffffff;
	border-radius: 24px;
}
.price {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	max-width: 156px;
	width: 100%;
	font-size: 14px;
}

.price_total {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 6px;
	width: 100%;
	height: 29px;
	font-style: normal;
	font-weight: 700;

	line-height: 24px;
	color: #242424;
}
.price_total span {
	font-size: 24px;
	color: #2e6bcb;
}

.price_retail {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 6px;
	height: 24px;
	font-style: normal;
	font-weight: 700;
	color: #949494;
}
.price_retail span {
	font-size: 16px;
	text-decoration-line: line-through;
	color: #949494;
}

.discount {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 12px;
	gap: 4px;

	height: 61px;

	background: #2e6bcb;
	border-radius: 17px;
}

.discount_icon {
	width: 37px;
	height: 37px;
}

.discount_description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	max-width: 133px;
	width: 100%;
	height: 37px;
}
.discount_price {
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	color: #f3f3f3;
	opacity: 0.6;
}
.discount_savings {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #f3f3f3;
}

.hamburger {
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.hamburger img {
	width: 30x;
	height: 30px;
}




@media (max-width: 1200px) {
	.menu {
		width: 92%;
	}
	.flyer_club_block {
		transform: translateY(0px);
		top: 20px;
	}
	.promo_body {
		width: 92%;
	}

	.menu_logo img {
		width: 167px;
		height: 50px;
	}
	.menu_list .menu_list_item button {
		padding: 15px 36px;
	}
}

@media (max-width: 992px) {
	.menu {
		width: 92%;
	}
	.menu_logo img {
		width: 140px;
	}
	.menu_list .menu_list_item button {
		padding: 10px 10px;
		font-size: 14px;
	}
	.menu_list .menu_list_item_link {
		font-size: 14px;
	}

	.description {
		font-size: 14px;
	}
}
@media (max-width: 768px) {
	.promo_banner {
		gap: 9px;
	}
	.flyer_club_block {
		top: 40px;
	}
	.sale_description {
		font-size: 18px;
	}
	.description {
		font-size: 14px;
		line-height: 19px;
	}

	.menu_list .menu_list_item_link {
		font-size: 12px;
	}
	.menu_list .menu_list_item button {
		padding: 5px 5px;
		font-size: 12px;
		height: 40px;
	}
}
@media (max-width: 576px) {
	.elipse {
		display: none;
	}
	.menu_list{
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: -100%;
		width: 100%;
		max-width: 375px;
		height: 100vh;
		padding: 20px 15px;
		background-color: rgba(73,94,146, .9);
		transition: 0.6s all;
		z-index: 2;
	}
	.menu_list_active{
		left: 0;
	}
	.menu_list_item{
		padding-right: 0;
		border: none;
		margin: 10px 0;
	}
	.menu_close{
		display: block;
		
	}
	.menu_list .menu_list_item button {
		padding: 15px;
		height: 50px;
		font-size: 16px;
	}

	.menu_list .menu_list_item_link{
		font-size: 20px;
	}
	.promo_banner {
		gap: 9px;
	}

	.menu_logo img {
		width: 197px;
		height: 60px;
	}
	.hamburger {
		display: block;

	}

	.flyer_club_block {
		top: 40px;
	}
	.flyer_club_block {
		display: block;
		width: 92%;
		margin: 0 auto;
		right: 0;
	}
	.flyer_club {
		margin: 0 auto;
	}
	.flyer_club_content {
		height: 69.71px;
		gap: 5.9px;
	}
	.price {
		gap: 1.48px;
		height: 39.48px;
	}

	.price_total {
		gap: 4.43px;
		font-size: 12px;
		color: #242424;
	}
	.price_total span {
		font-size: 16px;
		color: #2e6bcb;
	}

	.price_retail {
		gap: 4.43px;
		height: 18px;
		font-size: 11px;
	}

	.discount {
		padding: 8.85294px;
		gap: 2.95px;
		height: 53.71px;
		border-radius: 12.5417px;
	}

	.flyer_club_label {
		padding: 4px 14px 4px 10px;
		gap: 3.04px;
		width: 77.45px;
		height: 19px;
		left: 9%;
		top: 5px;
	}
	.flyer_club_label_img {
		width: 10.41px;
		height: 10.41px;
	}
	.flyer_club_label_name {
		height: 11px;
		font-size: 12px;
	}
	.discount_price {
		font-size: 13px;
	}
	.discount_savings {
		font-size: 16px;
	}
}
@media (max-width: 450px) {
	.discount_savings {
		font-size: 14px;
	}
	.sale_description {
		display: none;
	}
	.discount_icon {
		display: none;
	}
}



@media (max-width: 270px) {
	.menu_logo img {
		width: 120px;
		height: 40px;
	}
}

/* @media (max-width: 350px) {
	.discount_price {
		font-size: 12px;
	}
	.discount_savings {
		font-size: 12px;
	}
	.price_total {
		gap: 2.43px;
		font-size: 10px;
	}
	.price_retail span {
		font-size: 12px;
	}
	.flyer_club{
		top: 62%;
		
	}
} */
@media (max-width: 340px) {
	.flyer_club {
		display: none;
	}
}
@media (min-width: 200px) and (max-width: 1440px) {
	.promo_banner {
		width: calc(90% + (51 - 90) * ((100vw - 400px) / (1440 - 400)));
	}
	.promo_banner .title {
		font-size: calc(16px + (36 - 16) * ((100vw - 200px) / (1440 - 200)));
	}
	.partners img {
		width: calc(20% + (100 - 20) * ((100vw - 400px) / (1440 - 400)));
	}
	.top_rated_text {
		font-size: calc(12px + (16 - 12) * ((100vw - 400px) / (1440 - 400)));
	}
}


