.reviews {
    position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 30px;
	max-width: 1168px;
	width: 100%;
}
.trustpilot-widget{
    width: 100%;
}
.reviews_slides{
    width: 100%;
}
.slider_title {
	width: auto;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	/* identical to box height, or 125% */
	text-align: center;
	color: #070707;
	text-shadow: 0px 0px 27px rgba(255, 255, 255, 0.65);
}
.mySwiper2 {
    position: relative;
	width: 100%;
	height: 100%;
    max-width: 1100px;
    height: 222px;
}
.reviews_slides_block{
    position:relative;
}
.review_item{
    width: 100%;
    height: 222px;
    background:red;
}

