.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 30px;
	max-width: 1040px;
	width: 82.87%;
}

.slider_title {
	width: auto;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	/* identical to box height, or 125% */
	text-align: center;
	color: #070707;
	text-shadow: 0px 0px 27px rgba(255, 255, 255, 0.65);
}

.slider_slides {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 18px;
	margin: 0;
	width: 100%;
}
.slider_slides_block {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	width: 100%;
}

.slider_slides_image {
	max-width: 780px;

	width: 100%;
	max-height: 415px;
	border-radius: 24px;
}

.offer__slide {
	display: flex;
	justify-content: center;
}
.offer__slider-wrapper {
	width: 100%;
}

.swiper-button{
	position: absolute;
	display: flex;
	top:41%;
	transform: translateY(-50%);
	z-index: 1;
}

.swiper-button-prev {
	left:0;
	padding: 0;
	cursor: pointer;
}
.swiper-button-next {
	right:0;
	padding: 0;
	cursor: pointer;
}
.slider_menu {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #242424;
	
}
.slider_points {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 10px;
}
.slider_points_item {
	width: 60px;
	height: 2px;
	cursor: pointer;
	background: rgba(0, 109, 210, 0.2);
	border-radius: 0px;
}
.slider_points_item_active {
	background: #006dd2;
}
.swiper {
	width: 100%;
	height: 100%;
	
}
.mySwiper{
	max-width: 780px;
	max-height: 415px;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.swiper {
	margin-left: auto;
	margin-right: auto;
}
.swiper-pagination{
	position: absolute;
}
.slider_info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	gap:18px;
	margin-top: 20px;
}


@media (max-width: 576px) {
	.slider_slides_arrow {
		width: 30px;
	}
	.slider_info{
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items:center;
	}
	.swiper-button {
		top: 97%;
	}

}
@media (max-width: 350px) {
	.slider_points_item {
		width: 40px;
	}
	.swiper-button{
		display: none;
	}
}
@media (min-width: 200px) and (max-width: 1440px) {
	.slider {
		width: calc(100% + (82.87 - 100) * ((100vw - 400px) / (1440 - 400)));
	}
	
	.slider_menu {
		font-size: calc(12px + (24 - 12) * ((100vw - 200px) / (1440 - 200)));
	}
}
