.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 30px;

	width: 1040px;
	height: 591px;
}

.slider_title {
	width: auto;
	height: 45px;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 45px;
	/* identical to box height, or 125% */
	text-align: center;
	color: #070707;
	text-shadow: 0px 0px 27px rgba(255, 255, 255, 0.65);
}

.slider_slides {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 18px;
	margin: 0;
	width: 1040px;
}
.slider_slides_block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0px;
	gap: 66px;
}

.slider_slides_image {
	width: 812px;
	height: 442px;
	margin: 0;

	border-radius: 24px;
}
.slider_slides_prev_arrow {
	padding: 0;
	cursor: pointer;
}
.slider_slides_next_arrow {
	padding: 0;
	cursor: pointer;
}
.slider_menu {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #242424;
}
.slider_points {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 10px;
}
.slider_points_item {
	width: 60px;
	height: 2px;
	cursor: pointer;
	background: rgba(0, 109, 210, 0.2);
	border-radius: 0px;
}
.slider_points_item_active {
	background: #006dd2;
}

@media (max-width: 1439px) {
	.slider_slides_block {
		gap: 39px;
	}
	.slider_title {
		height: 18px;
		font-size: 32px;
		line-height: 15px;
	}
	.slider_slides_image {
		width: 768px;
		height: 411px;
	}
	.slider{
		height: 525px;
	}
}
@media (max-width: 1200px) {
	.slider {
		width: 833px;
		height: 475px;
		
	}
	.slider_slides {
		width: 844px;
	}
	.slider_title {
		height: 10px;
		font-size: 30px;
		line-height: 12px;
	}
	.slider_slides_image {
		width: 719px;
		height: 369px;
	}
	.slider_slides_block {
		gap: 10px;
	}
}
@media (max-width: 992px) {
	.slider {
		gap: 22px;
		width: 632px;
		height: 361px;
	}
	.slider_title {
		height: 21px;
		font-size: 24px;
		line-height: 22px;
	}
	.slider_slides {
		gap: 8px;
		width: 682px;
	}
	.slider_slides_block {
		gap: 6px;
	}
	.slider_slides_prev_arrow img {
		width: 35px;
		height: 35px;
	}
	.slider_slides_next_arrow img {
		width: 35px;
		height: 35px;
	}

	.slider_slides_image {
		width: 547px;
		height: 297px;
	}
	.slider_menu {
		font-size: 19px;
	}
}
@media (max-width: 768px) {
	.slider_slides_image {
		width: 454px;
    	height: 288px;
	}
	.slider_menu {
		font-size: 16px;
	}
	.slider_slides {
		width: 508px;
	}
	.slider {
		width: 513px;
		height: 400px;
	}
	.slider_title{
		width: 345px;
		height: 53px;
		line-height: 30px;
	}
}
@media (max-width: 576px) {
}
