* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
html {
  overflow-x: hidden;
}
body{
  background: #FFFFFF;
}
.container {
  display: block;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  background: #FFFFFF;
  position: relative;
}
.city_img {
	position: absolute;
	width: 100%;
	height: 851.88px;
	top: 497.41px;
	background: url(../assets/images/3395706.jpg), center/cover no-repeat;
	overflow: hidden;
}

.info_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 64px;
  position: relative;
  max-width: 1255px;
  z-index: 0;
  width: 90%;
	margin:0 auto;
}
.leave_request_button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 52px;
  gap: 8px;
  border:0;
  width: 234px;
  height: 50px;

  background: #006DD2;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;

}
@media (max-width: 992px) {
  .city_img {
    top: 379.41px;
  }
}
@media (max-width: 576px) {
  .info_block{
    gap: 30px;
  }
  .city_img {
    height: 732.88px;
    top: 324.41px;
}
}
@media (max-width: 450px){
  .city_img {
    top: 210.41px;
  }
}

@media (max-width: 340px){
 
  .city_img {
    top: 210.41px;
  }
}
